body {
  margin: 0;
  background: rgb(34, 34, 68);
  background: linear-gradient(
    322deg,
    rgba(34, 34, 68, 1) 0%,
    rgba(46, 34, 68, 1) 24%,
    rgba(68, 34, 64, 1) 75%,
    rgba(85, 51, 122, 1) 100%
  );
  min-height: 100vh;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

main {
  box-sizing: border-box;
  background-color: white;
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  min-height: 400px;
  padding: 15px 70px;
  border-radius: 10px;
}

header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

header > nav {
  display: flex;
  align-items: center;
  gap: 5px;
  transition: all ease-in-out 0.1s;
  flex-wrap: wrap;
  justify-content: center;
}

header > nav > a {
  display: inline-block;
  text-decoration: none;
  padding: 5px 10px;
  border: 1px solid transparent;
  /* border-top: 1px solid rgba(128, 128, 128, 0.275); */
  transition: all 0.05s ease-in-out;
}

header > nav > a:hover {
  transform: scale(1.1);
  color: #351e4e;
  background-color: white;
  border-radius: 20px;
  /* box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.1); */
  box-shadow: 0 5px 10px #351e4e36 inset;
  /* border: 1px solid rgba(128, 0, 128, 0.483); */
}

header > a > img {
  height: 70px;
}

main > section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

main > section > div:first-child {
  max-width: 400px;
  overflow: hidden;
  justify-content: center;
}

main > section > div:nth-of-type(2) {
  display: flex;
  overflow: hidden;
  max-width: 400px;
  margin: 0 auto;
  justify-content: center;
}

main > section > div:nth-of-type(2) > img {
  
  width: 100%;
  /* object-position: center; */
  /* object-fit: cover; */
}

main > section > div > div:nth-of-type(1) {
  margin-top: 50px;
  font-size: 5rem;
  font-family: "Roboto", sans-serif;
  font-weight: 200;
  line-height: 1;
}

main > section > div > div:nth-of-type(2) {
  font-size: 4rem;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  position: relative;
  line-height: 1;
}

main > section > div > div:nth-of-type(2):after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  content: "";
  width: 150px;
  height: 3px;
  background-color: #55337a;
  bottom: -7px;
  left: 4px;
}

main > section > div > div:nth-of-type(3) {
  margin-top: 30px;
  font-family: "Nunito Sans", sans-serif;
  font-size: 1.1rem;
  font-weight: 500;
  color: rgb(73, 73, 73);
}

main > section > div > div:nth-of-type(4) {
  margin-top: 30px;
  display: flex;
  gap: 20px;
}

main > section > div > div:nth-of-type(4) > a {
  display: inline-flex;
  align-items: center;
  padding: 10px 50px;
  background-color: black;
  font-size: 1.1rem;
  text-decoration: none;
  border-radius: 30px;
  border: 1px solid #55337a;
  text-transform: uppercase;
}

main > section > div > div:nth-of-type(4) > a:first-of-type {
  background-color: #55337a;
  color: white;
}

main > section > div > div:nth-of-type(4) > a:last-child {
  background-color: white;
  color: #55337a;
}

main > section > div > div:nth-of-type(4) > a:hover {
  background-color: #3b2455;
  color: white;
  box-shadow: 5px 5px 5px rgba(69, 0, 61, 0.266);
}

main > footer {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

main > footer > div:first-child {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

main > footer > div:first-child > a {
  display: inline-block;
  text-decoration: none;
  font-size: 1.2rem;
  color: rgb(155, 155, 155);
  transition: all ease-in-out 0.1s;
}

main > footer > div:first-child > a:hover {
  color: #3b2455;
  transform: scale(1.3);
}

@media screen and (max-width: 940px) {
  main {
    padding: 10px;
  }

  header {
    justify-content: center;
  }

  main > footer {
    justify-content: center;
    flex-direction: column;
  }

  main > section {
    justify-content: center;
    flex-direction: column-reverse;
    gap: 20px;
    flex-wrap: wrap;
  }

  main > section > div > div:nth-of-type(4) {
    justify-content: space-between;
    gap: 5px;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
  }

  main > section > div > div:nth-of-type(4) > a {
    padding: 10px 50px;
  }
}
